.preloader
  @extend .cover
  @extend .flex--cc
  flex-direction column

  background $background
  text-align center

  position fixed
  overflow hidden
  width 100vw
  height 100vh
  z-index 20

  &__box
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    min-height 184px

  &__media
    width ratio(80)
    height ratio(80)

  &__loader
    display flex
    flex-direction column
    justify-content space-between
    min-height 60px


    &__bars
      position relative
      width 166px
      height 8px

      &__progress
        position absolute
        z-index 2
        border-radius 100px
        width 100%
        height 100%
        background $primary

        transform-origin left
        transition transform 300ms $ease-out-01
        transform scaleX(0)
        will(transform)


      &__background
        position absolute
        z-index 1
        border-radius 100px
        width 100%
        height 100%
        background $grey-5

    &__number
      margin-top 24px
      line-height 140%
      font-family $font-family-helvetica-extraBold
      font-size $font-size-H6
      color $white

  &__transitionScreen
    position absolute
    top 0
    left 0
    bottom 0
    right 0

    widht 100vw
    height 100vh

    &__top
      position absolute
      top 0
      left ratio(940)
      width ratio(1283)
      height ratio(504)

      display flex

      transition transform 300ms $ease-out-01
      opacity 0
      //transform translateX(120vw)
      will(transform)

      p
        font-family $font-family-helvetica-extraBold
        font-weight 900
        font-size 360px
        line-height 140%
        letter-spacing 2%
        color $primary

        &:first-child
          margin-right 72px

    &__bottom
      position absolute
      bottom 0
      left ratio(-2265.88)
      width ratio(1404)
      height ratio(504)

      display flex

      transition transform 300ms $ease-out-01
      opacity 0
      //transform translateX(-150vw)
      will(transform)

      p
        font-family $font-family-helvetica-extraBold
        font-weight 900
        font-size 360px
        line-height 140%
        letter-spacing 2%
        color $primary

        &:first-child
          margin-right 72px
