.preloader
  @extend .cover
  @extend .flex--cc
  flex-direction column

  background $background
  text-align center

  position fixed
  overflow hidden
  width 100vw
  height 100vh
  z-index 20

  &__wrapper
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    min-height 144px

  &__media
    position relative
    width ratio(50)
    height ratio(50)

    & img
      position absolute
      transform translate(-50%, -50%)
      z-index 2
      width 100%
      height 100%
      top 50%
      left 50%


    &__box
      position absolute
      transform translate(-50%, -50%)
      z-index 1
      width ratio(140)
      height ratio(140)
      top 50%
      left 50%

      & div
        width 100%
        height 100%
        border-radius 50%
        background $grey-5
        animation loader 1.0s infinite ease-in-out

@keyframes loader {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.0);
		opacity: 0;
	}
}
