.text
  &--large
    font-family $font-family-mulish-regular
    font-size $font-size-bodyLarge
    letter-spacing pxToRem(0.4)
    line-height pxToRem(32)

    color $font-color-paragraph

  &--medium
    font-family $font-family-mulish-regular
    font-size $font-size-bodyMedium
    letter-spacing pxToRem(0.4)
    line-height pxToRem(28)

  &--small
    font-family $font-family-mulish-regular
    font-size $font-size-bodySmall
    letter-spacing pxToRem(0.4)
    line-height pxToRem(24)
