h1
  font-family $font-family-helvetica-extraBold
  font-size $font-size-H1
  letter-spacing pxToRem(0)
  line-height pxToRem(140)

  color $font-color-title

h2
  font-family $font-family-helvetica-extraBold
  font-size $font-size-H2
  letter-spacing pxToRem(0)
  line-height pxToRem(64)

  color $font-color-title

h3
  font-family $font-family-helvetica-extraBold
  font-size $font-size-H3
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $font-color-title

h4
  font-family $font-family-helvetica-extraBold
  font-size $font-size-H4
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $font-color-title

h5
  font-family $font-family-helvetica-extraBold
  font-size $font-size-H5
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $font-color-title

h6
  font-family $font-family-helvetica-bold
  font-size pxToRem(20)
  letter-spacing pxToRem(0.4)
  line-height pxToRem(36)

  color $font-color-title

