.cursor__border#cursor
  figure.cursor__border__up__media
    img.cursor__border__up__media__image(alt="chevron-up" data-src="/icons/arrow-up.svg")

  .cursor__border__spinner.--default

  figure.cursor__border__down__media
    img.cursor__border__down__media__image(alt="chevron-down" data-src="/icons/arrow-down.svg")

.cursor__inner#cursor
  .cursor__inner__pointer
