block variables
doctype html
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
  head
    include head
  body
    include preloader
    include navigation
    include cursor

    #content.content(data-template=template)
      block content

    .experience

    include scripts
