.preloader
  .preloader__wrapper
    .preloader__media
      img.preloader__media__logo(data-src='/icons/white-logo.svg' alt='logo preloader')
      .preloader__media__box
        .preloader__media__box__loader
