.preloader
  .preloader__wrapper
    .preloader__media
      img.preloader__media__logo(data-src='/logos/White-32.svg' alt='logo preloader')
      .preloader__media__box
        .preloader__media__box__loader
