extends ../_includes/layout

block variables
  - var template = 'contact'

block content
  .contact(data-background="#FFFBF5" data-color="#7D8795")
    .contact__wrapper
      h1.contact__title="hello"
      button.contact__link="Boutton"
