extends ../_includes/layout

block variables
  - var template = 'home'

block content
  .home(data-background="#FFFBF5" data-color="#7D8795")
    .home__wrapper
      include ../components/gallery
      include ../components/gallery
      include ../components/gallery
