// Default
$white = #FFFFFF
// BG
$background = #FDFCFA
$background-2 = #171B23
// Texts
$title = #1A293C
//$title = #262D3E
$subtitle = #37404D
$paragraph = #707987
$paragraph-light = #999EA5
$paragraph-lighter = #AFB3B8
// Greys
$grey-1 = #C1C4C8
$grey-2 = #D3D5D7
$grey-3 = #DFE0E2
// Primary
$primary-default = #DEB887
$primary-dark = #8B765C
$primary-light = #EBD4B7
$primary-disable = #FFD3BB
$primary-focus = #FF9A62
$primary-complementary = #FECE85
// Secondary
// Here go secondary colors
