$font-size-H1 = ratio(110)
$font-size-H2 = ratio(60)
$font-size-H3 = ratio(48)
$font-size-H4 = ratio(40)
$font-size-H5 = ratio(24)
$font-size-H6 = ratio(20)
$font-size-bodyLarge = ratio(18)
$font-size-bodyMedium = ratio(16)
$font-size-bodySmall = ratio(14)

$font-family-helvetica-extraBold = HelveticaNowDisplay-ExtraBold
$font-family-helvetica-bold = HelveticaNowDisplay-Bold
$font-family-helvetica-medium = HelveticaNowDisplay-Medium
$font-family-helvetica-regular = HelveticaNowDisplay-Regular
$font-family-mulish-extraBold = Mulish-ExtraBold
$font-family-mulish-bold = Mulish-Bold
$font-family-mulish-semiBold = Mulish-SemiBold
$font-family-mulish-mediul = Mulish-Medium
$font-family-mulish-regular = Mulish-Regular

$padding-layout-horizontal = ratio(80)
$padding-layout-vertical = ratio(72)
$padding-header-horizontal = ratio(23)
$padding-header-vertical = ratio(0)
$padding-section-horizontal= ratio(80)
$padding-section-vertical = ratio(80)
$padding-button-horizontal= ratio(24)
$padding-button-vertical = ratio(40)

$ease-out-01 = cubic-bezier(0, 0.8, 0.1, 0.4)
$ease-out-expo = cubic-bezier(0.19, 1, 0.22, 1)
$ease-in-01 = cubic-bezier(.42,0,.87,.28)

$z-indexes = 'navigation', 'content'

