:root
  font-family $font-family-mulish-regular

// Displays
@font-face
    font-family $font-family-helvetica-extraBold
    src url("../../fonts/HelveticaNowDisplay-ExtraBold.woff2")
    font-weight 900

@font-face
    font-family $font-family-helvetica-bold
    src url("../../fonts/HelveticaNowDisplay-Bold.woff2")
    font-weight 700

@font-face
    font-family $font-family-helvetica-medium
    src url("../../fonts/HelveticaNowDisplay-Medium.woff2")
    font-weight 600

@font-face
    font-family $font-family-helvetica-regular
    src url("../../fonts/HelveticaNowDisplay-Regular.woff2")
    font-weight 400

// Texts
@font-face
    font-family $font-family-mulish-extraBold
    src url("../../fonts/Mulish-ExtraBold.woff2")
    font-weight 900

@font-face
    font-family $font-family-mulish-bold
    src url("../../fonts/Mulish-Bold.woff2")
    font-weight 700

@font-face
    font-family $font-family-mulish-semiBold
    src url("../../fonts/Mulish-SemiBold.woff2")
    font-weight 600

@font-face
    font-family $font-family-mulish-medium
    src url("../../fonts/Mulish-Medium.woff2")
    font-weight 500

@font-face
    font-family $font-family-mulish-regular
    src url("../../fonts/Mulish-Regular.woff2")
    font-weight 400
